{% extends 'admin/shared/base.html' %}

{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <form action="/adminapp/department_update/{{dept.id}}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="col-10">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">

                        <h3>EDIT DEPARTMENT</h3>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" value="{{ dept.dept_name }}" required
                            name="dept_name" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Department Name</label>
                    </div>

                    


                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">SUBMIT</button>

                </div>
            </div>
        </form>
    </div>
</div>
<!-- Sign In End -->
{% endblock content %}