{% extends 'student/shared/base.html' %}

{% load static %}

{% block content %}
<h1>VIEW JOB DETAILS</h1>


<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row mt">
            <div class="col-md-12">
                <div style="height: 100px;"></div>



                <table class="table table-striped table-advance table-hover">

                    <hr>
                    <thead>
                        <tr>
                            <th>Department Name</th>
                            <th>Company Name </th>
                            <th>Post Name</th>
                            <th>No Of Vacancy</th>
                            <th>Min CPGA</th>
                            <th>No Of Back Logs</th>                            
                            <th>Package / Lac</th>
                            <th>Bond</th>
                            <th>Last Date</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in data %}

                        <tr>
                            <td>{{ i.department_id__dept_name }} </td>
                            <td>{{ i.CompanyName }} </td>
                            <td>{{ i.post }} </td>
                            <td>{{ i.no_of_vacancy }} </td>
                            <td>{{ i.cgpa }} </td>
                            <td>{{ i.back_logs }} </td>
                            <td>{{ i.package }} </td>
                            <td>{{ i.bond }} </td>
                            <td>{{ i.last_date }} </td>


                             <td>
                                <a href="{% url 'stud_apply_job' id=i.id %}" class="btn btn-warning btn-xs"><i
                                        class="fas fa-edit"></i></a>

                            </td>
                            {% comment %} <td>

                                <a href="{% url 'admin_teacher_delete' id=i.id %}" class="btn btn-danger btn-xs"><i
                                        class="fa fa-trash "></i></a>
                            </td>  {% endcomment %}

                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
                {% if not data %}
                <p class="text-center">No Items List</p>
                {% endif %}
            </div>

        </div>
        <!-- /row -->
    </section>
    <!-- /wrapper -->
</section>

{% endblock content %}