{% extends 'admin/shared/base.html' %}

{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
{% block content %}


<div class="col-12">


    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
        <div class="d-flex align-items-center justify-content-between mb-3">

            <h3>VIEW STUDENT DETAILS </h3>
        </div>


        {% for i in data %}

        <div class="row">
            <div class="col-6">



                <div class="form-floating mb-3">


                    <select class="form-control" name="dept_id" id="firstDropdown"
                        onchange="handleFirstDropdownChange(this)">
                        <option value="{{i.department_id.id}}">{{i.department_id.dept_name}}</option>


                        {% for i in dept %}

                        <option value="{{i.id }}">{{ i.dept_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingInput">Select Department Name</label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-control" name="course_id" id="secondDropdown">
                        <option value="{{i.course_id.id}}">{{i.course_id.course_name}}</option>
                    </select>
                    <label for="floatingInput">Select Course Name</label>
                </div>



                <div class="form-floating mb-3">
                    <input type="text" class="form-control" autocomplete="off" value="{{i.student_id.first_name}}"
                        required name="first_name" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Fisrt Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" autocomplete="off" value="{{i.student_id.last_name}}"
                        required name="last_name" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Last Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" autocomplete="off" value="{{i.student_id.email}}" required
                        name="email" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" autocomplete="off" required value="{{i.phone_number}}"
                        name="phone" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Phone Number</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" autocomplete="off" required value="{{i.address}}"
                        name="address" id="floatingInput" placeholder="name@example.com">


                    <label for="floatingInput">Address</label>
                </div>
            </div>
            <div class="col-6">





                <div class="form-floating mb-3">
                    <input type="text" class="form-control" autocomplete="off" value="{{i.father_name}}" required
                        name="father_name" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Father Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" autocomplete="off" value="{{i.mother_name}}" required
                        name="mother_name" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Mother Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" autocomplete="off" value="{{i.sslc}}" required name="sscl"
                        id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">SSLC Mark</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" autocomplete="off" value="{{i.plus_two}}" required
                        name="plus_two" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Plus Two Mark</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" autocomplete="off" value="{{i.DOB}}" required name="DOB"
                        id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">DOB</label>
                </div>
                <div class="form-floating mb-3">
                    <img src="{{ i.photo.url }}" alt="" style="width: 140px;" alt='not'>
                    <label for="floatingInput">Photo</label>
                </div>

            </div>








            {% endfor %}


        </div>
        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">VIEW ACADEMIC DETAILS</button>

    </div>
</div>

{% endblock content %}