{% extends 'Coordinator/shared/base.html' %}

{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-12">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">

                        <h3>Add Job Details</h3>
                    </div>

                    <div class="row">
                        <div class="col-6">



                            <div class="form-floating mb-3">


                                <select class="form-control" name="dept_id" id="firstDropdown"
                                    onchange="handleFirstDropdownChange(this)">
                                    <option value="Select">Select Department</option>


                                    {% for i in dept %}

                                    <option value="{{i.id }}">{{ i.dept_name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="floatingInput">Select Department Name</label>
                            </div>





                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" autocomplete="off" required name="CompanyName"
                                    id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Company Name</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" autocomplete="off" required name="post"
                                    id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Post Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" autocomplete="off" required name="no_of_vacancy"
                                    id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">No Of Vacancy</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" autocomplete="off" required name="bond"
                                    id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">No Of Bond Year</label>
                            </div>
                        
                        </div>
                        <div class="col-6">

                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" autocomplete="off" required name="last_date"
                                    id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Last Date</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" autocomplete="off" required name="cgpa"
                                    id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">CGPA</label>
                            </div>
   
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" autocomplete="off" required name="back_logs"
                                    id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Back Logs</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" autocomplete="off" required name="package"
                                    id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Package per Lac</label>
                            </div>
                
                        </div>



                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">SUBMIT</button>




                </div>
            </div>
        </form>
    </div>
</div>
<!-- Sign In End -->
{% endblock content %}