{% extends 'Coordinator/shared/base.html' %}


{% block content %}

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">APPLICATION DETAILS</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>

                        <th scope="col">Student Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Backlogs</th>
                        <th scope="col">CGPA</th>
                        <th scope="col">SSLC</th>
                        <th scope="col">Plus Two</th>
                        <th scope="col">CV</th>
                        <th scope="col">Photo</th>




                    </tr>
                </thead>
                <tbody>
                    {% for i in result %}
                    <tr>

                        <td>{{i.first_name}} {{i.last_name}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.back_logs}}</td>
                        <td>{{i.cgpa}}</td>
                        <td>{{i.sslc}}</td>
                         
                        <td>{{i.plus_two}}</td>
                       
                        <td><a target="_blank" href="/media/{{ i.cv }}">CV</a></td>
                        <td> <img src="/media/{{ i.photo }}" style="width: 140px;" alt='not'></td>


 
                        {% comment %} <td>
                            <a href="{% url 'add_academic' id=i.id %}" class="btn btn-warning btn-xs">ADD DETAILS</a>


                        </td> {% endcomment %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}